body {
  font-family: "Arial","Meiryo",sans-serif;
}

.google-fonts {
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 20px;
}

h1 {
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}

.my-color {
  color:skyblue;
}

.color {
  color:rgb(255, 192, 203)
}

body {
  text-align: center;
}

#parent > p {
  font-weight: bold;
}
